*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-bg-color: #ffffff;
  --second-bg-color: #ffe17f;
  --special-bg-color: #444444;
  --light-bg-color: #f0f0f0;

  --primary-text-color: #444444;
  --second-text-color: #000000;
  --special-text-color: #ffffff;
  --hover-text-color: #FFC700;

  --button-focus-color: #AF4FFF;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
}

/*--------------------------------------------------------*/
.page {
  height: 100%;
}

.page__body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: var(--primary-text-color);
  background: var(--primary-bg-color);
}

/*--------------------------------------------------------*/
.container {
  width: 1160px;
  margin: 0 auto;
}

/*--------------------------------------------------------*/
.logo__link:hover {
  opacity: 0.6;
}

.logo__link:active {
  opacity: 0.3;
}

/*--------------------------------------------------------*/
.header {
  background-color: var(--second-bg-color);
}

/*--------------------------------------------------------*/
.personal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.personal__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: var(--second-text-color);
}

.personal__link::before {
  content: "";
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.personal__link--auth::before {
  width: 13px;
  height: 12px;
  background-image: url("../images/icons/auth.svg");
}

.personal__link--auth--compare::before {
  width: 10px;
  height: 12px;
  background-image: url("../images/icons/compare.svg");
}

.personal__link--auth--basket::before {
  width: 31px;
  height: 21px;
  background-image: url("../images/icons/basket.svg");
}

/*--------------------------------------------------------*/
.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0;
  list-style: none;
}

.nav__link {
  color: var(--second-text-color);
  text-decoration: none;
}

.nav__link--secondary {
  color: var(--special-text-color);
}

/*--------------------------------------------------------*/
.main {

}

.slider {
  background-image: linear-gradient( to bottom, var(--second-bg-color) 20%, var(--primary-bg-color) 20%);
}

.services {
  background-color: var(--light-bg-color);
}

.subscribe {
  background-color: var(--light-bg-color);
}

/*--------------------------------------------------------*/
.footer {
  padding: 62px 0 61px;
  background-color: var(--special-bg-color);
  color: var(--special-text-color);
 }

.footer__inner {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.footer__logo {
  grid-column: span 3;
}

.footer__phone-link {
  color: var(--special-text-color);
}

.footer__line {
  display: flex;
}

.footer__line::before {
  content: "";
  width: 80px;
  height: 7px;
  background-color: #FFC700;
}

.footer__copyright-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__copyright-link::before {
  content: "";
  width: 115px;
  height: 33px;
  background-image: url("../images/icons/html-academy.svg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

/*--------------------------------------------------------*/
.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0;
  list-style: none;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255,255,255, 0.3);
}

.social__link:hover {
  background-color: var(--hover-text-color);
}

.social__link:focus {
  outline: 2px solid var(--button-focus-color);
}

.social__link:active::before {
  opacity: 0.3;
}

.social__link::before {
  content: "";
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.social__link--telegram::before {
  width: 14px;
  height: 12px;
  background-image: url("../images/icons/telegram.svg");
}

.social__link--youtube::before {
  width: 16px;
  height: 11px;
  background-image: url("../images/icons/youtube.svg");
}

.social__link--vk::before {
  width: 17px;
  height: 10px;
  background-image: url("../images/icons/vk.svg");
}
